{{template "header" .}}
{{template "nav" .}}

<h2>MEMES</h2>
{{ range .Stylesheets }}
  {{.}}
<link rel="stylesheet" type="text/css" href="https://beginworld.website-us-east-1.linodeobjects.com/assets/{{.}}">
{{ end }}

{{ range .Videos }}
  {{.}}
  <img width="250" height="250" src="https://us-east-1.linodeobjects.com/beginworld/memes/ViewerVideos/{{.}}.gif" alt="{{.}}">
{{ end }}

{{ range .Images }}
  {{.}}

  <img width="250" height="250" src="https://us-east-1.linodeobjects.com/beginworld/memes/ViewerImages/{{.}}.png" alt="{{.}}">
{{ end }}
