<!DOCTYPE html>
<html lang="en">
<head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58643-34"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', "UA-58643-34");
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Pandaperson Styled - Pastebin.com</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="description" content="Pastebin.com is the number one paste tool since 2002. Pastebin is a website where you can store text online for a set period of time." />
    <meta property="og:description" content="Pastebin.com is the number one paste tool since 2002. Pastebin is a website where you can store text online for a set period of time." />
            <meta property="fb:app_id" content="231493360234820" />
    <meta property="og:title" content="Pandaperson Styled - Pastebin.com" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://pastebin.com/P4HdWRi0" />
    <meta property="og:image" content="https://pastebin.com/i/facebook.png" />
    <meta property="og:site_name" content="Pastebin" />
    <meta name="google-site-verification" content="jkUAIOE8owUXu8UXIhRLB9oHJsWBfOgJbZzncqHoF4A" />
    <link rel="canonical" href="https://pastebin.com/P4HdWRi0" />
    <meta name="viewport" content="width=device-width, initial-scale=0.75, maximum-scale=1.0, user-scalable=yes">
        <meta name="csrf-param" content="_csrf-frontend">
<meta name="csrf-token" content="_F9pwHiJmR1NOelR11pNwS9IoSISiuOFeaxwH60Ki9bIBQ-4PKTjKy5Ojz-IGQ-lTQSRU1blpcsTzjdo5kDDlA==">

<link href="/assets/c80611c4/css/bootstrap.min.css" rel="stylesheet">        
<link href="/themes/pastebin/css/vendors.bundle.css?08b61ba04440fdd01211" rel="stylesheet">
<link href="/themes/pastebin/css/app.bundle.css?08b61ba04440fdd01211" rel="stylesheet">
    
<!-- 1-7L1jsUhq -->
﻿<script>
var datalayer= {
z_cltr: '%%CLICK_URL_UNESC%%',
z_imtr: '%%VIEW_URL_UNESC%%'
}
</script>
<div id="zbf8e95d3-c7c2-4b2e-8ead-ef78ee01f949" style='display:none' ></div>
<script>!function(a,n,e,t,r){tagsync=e;var c=window[a];if(tagsync){var d=document.createElement("script");d.src="https://3933.tm.zedo.com/v1/3bb8ab82-c828-44f4-996d-e2a88f013315/atm.js",d.async=!0;var i=document.getElementById(n);if(null==i||"undefined"==i)return;i.parentNode.appendChild(d,i),d.onload=d.onreadystatechange=function(){var a=new zTagManager(n);a.initTagManager(n,c,this.aync,t,r)}}else document.write("<script src='https://3933.tm.zedo.com/v1/3bb8ab82-c828-44f4-996d-e2a88f013315/tm.js?data="+a+"'><"+"/script>")}("datalayer","zbf8e95d3-c7c2-4b2e-8ead-ef78ee01f949",true, 1 , 1);</script>

<!-- 0-BkcCRRAK -->
<script type="text/javascript">
	(function(){
		var bsa_optimize=document.createElement('script');
		bsa_optimize.type='text/javascript';
		bsa_optimize.async=true;
		bsa_optimize.src='https://cdn4.buysellads.net/pub/pastebin.js?'+(new Date()-new Date()%600000);
		(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa_optimize);
	})();
</script>
</head>
<body class="night-auto " data-partner="BkcCRRAK">



<div class="wrap">

        
        
<div class="header">
    <div class="container">
        <div class="header__container">

                        <div class="header__left">
                <a class="header__logo" href="/">
                    Pastebin                </a>

                <div class="header__links h_1024">
                    
                    <a href="/doc_api">API</a>
                    <a href="/tools">tools</a>
                    <a href="/faq">faq</a>
                                    </div>

                
                <a class="header__btn" href="/">
                    paste                </a>
            </div>

                        <div class="header__right">

                                    <div class="header_sign">
                        <a href="/login" class="btn-sign sign-in">Login</a>
                        <a href="/signup" class="btn-sign sign-up">Sign up</a>
                    </div>
                
            </div>

        </div>
    </div>

</div>
        

    <div class="container">
        <div class="content">

                        
<!-- 1-7L1jsUhq -->


<!-- 0-BkcCRRAK -->
<!-- Pastebin_S2S_Leaderboard_ROS_Top_ATF -->
<div id="bsa-zone_1562798196755-3_123456"></div>

                                    
            
            
<link href="/themes/pastebin/css/geshi/light/text.css?694707f98000ed24d865" rel="stylesheet">

<div class="post-view">

    
    <div class="details">
                    <div class="share h_800">
                <div data-url="https://pastebin.com/P4HdWRi0" class="share-btn facebook js-facebook-share" title="Share on Facebook!"><span>SHARE</span></div>
                <div data-url="https://pastebin.com/P4HdWRi0" class="share-btn twitter js-twitter-share" title="Share on Twitter!"><span>TWEET</span></div>
            </div>
                <div class="user-icon">
                            <img src="/themes/pastebin/img/guest.png" alt="Guest User">                    </div>
        <div class="info-bar">
            <div class="info-top">

                
                
                <h1>Pandaperson Styled</h1>
            </div>
            <div class="info-bottom">

                                    <div class="username">
                        a guest                    </div>
                
                <div class="date">
                    <span title="Wednesday 27th of January 2021 09:18:37 AM CDT">Jan 27th, 2021</span>

                                    </div>

                <div class="visits" title="Unique visits to this paste">
                    2                </div>

                <div class="expire" title="When this paste gets automatically deleted">
                    Never                </div>
            </div>
        </div>
    </div>

                        <div class="page">
                <div class="content__text -no-padding">
                    <div class="notice -post-view">
                        <b>Not a member of Pastebin yet?</b>
                        <a href="/signup"><b><u>Sign Up</u></b></a>,
                        it unlocks many cool features!                    </div>
                </div>
            </div>
        
    
    <div class="highlighted-code">
        <div class="top-buttons">
            <div class="left">
                <a href="/archive/text" class="btn -small h_800">text</a> 13.88 KB            </div>

            <div class="right">
                                    <a href="/raw/P4HdWRi0" class="btn -small">raw</a>
                    <a href="/dl/P4HdWRi0" class="btn -small">download</a>
                    <a href="/clone/P4HdWRi0" class="btn -small h_800">clone</a>
                    <a href="/embed/P4HdWRi0" class="btn -small h_800">embed</a>
                    <a href="/print/P4HdWRi0" class="btn -small h_800">print</a>
                
                                    <a href="/report/P4HdWRi0" class="btn -small">report</a>
                
                
                            </div>
        </div>
        <div class="source" style=" ">
            <ol class="text"><li class="li1"><div class="de1">  &lt;!DOCTYPE html&gt;</div></li><li class="li1"><div class="de1">&lt;!-- saved from url=(0080)https://beginworld.website-us-east-1.linodeobjects.com/users/pandapersonbot.html --&gt;</div></li><li class="li1"><div class="de1">&lt;html&gt;&lt;head&gt;&lt;meta http-equiv=&quot;Content-Type&quot; content=&quot;text/html; charset=UTF-8&quot;&gt;</div></li><li class="li1"><div class="de1">  &lt;title&gt;PandaPersonBot&lt;/title&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">  &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;./Pandaperson_files/style.css&quot;&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">&lt;style&gt;</div></li><li class="li1"><div class="de1">@import url(&#039;https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&amp;display=swap&#039;);</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">.flex-right {</div></li><li class="li1"><div class="de1">	display: none;</div></li><li class="li1"><div class="de1">}</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">a:active {</div></li><li class="li1"><div class="de1">    line-height: 20px;</div></li><li class="li1"><div class="de1">    color: #c02050;</div></li><li class="li1"><div class="de1">    transition: 300ms color ease;</div></li><li class="li1"><div class="de1">}</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">h2 {</div></li><li class="li1"><div class="de1">    font-weight: 400;</div></li><li class="li1"><div class="de1">    font-size: 22px;</div></li><li class="li1"><div class="de1">    margin-left: 48px;</div></li><li class="li1"><div class="de1">}</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">hr {</div></li><li class="li1"><div class="de1">    border-color: #f8f8f8;</div></li><li class="li1"><div class="de1">    border-width: 1px;</div></li><li class="li1"><div class="de1">    border: none;</div></li><li class="li1"><div class="de1">    border-top: 1px solid;</div></li><li class="li1"><div class="de1">}</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">nav {</div></li><li class="li1"><div class="de1">    position: fixed;</div></li><li class="li1"><div class="de1">    margin: 24px 48px;</div></li><li class="li1"><div class="de1">    left: 0;</div></li><li class="li1"><div class="de1">    line-height: 32px;</div></li><li class="li1"><div class="de1">}</div></li><li class="li1"><div class="de1">nav a:before {</div></li><li class="li1"><div class="de1">    content: &quot;nav::&quot;;</div></li><li class="li1"><div class="de1">    color: #ffffff80;</div></li><li class="li1"><div class="de1">}</div></li><li class="li1"><div class="de1">nav a:after {</div></li><li class="li1"><div class="de1">    content: &quot;()&quot;;</div></li><li class="li1"><div class="de1">    color: #ffffff80;</div></li><li class="li1"><div class="de1">}</div></li><li class="li1"><div class="de1">nav a:hover {</div></li><li class="li1"><div class="de1">    transition: 300ms color ease;</div></li><li class="li1"><div class="de1">    color: #f0f0f8;</div></li><li class="li1"><div class="de1">}</div></li><li class="li1"><div class="de1">nav a {</div></li><li class="li1"><div class="de1">    color: #f02080;</div></li><li class="li1"><div class="de1">    text-decoration: none;</div></li><li class="li1"><div class="de1">    transition: 300ms color ease;</div></li><li class="li1"><div class="de1">}</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">h1 a::after {</div></li><li class="li1"><div class="de1">    content: &quot;Exapsy&quot;;</div></li><li class="li1"><div class="de1">    font-size: 12px;</div></li><li class="li1"><div class="de1">    padding: 12px;</div></li><li class="li1"><div class="de1">    color: #b20282;</div></li><li class="li1"><div class="de1">    font-weight: 600;</div></li><li class="li1"><div class="de1">}</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">h1 a {</div></li><li class="li1"><div class="de1">    color: #f0f0f0;</div></li><li class="li1"><div class="de1">    text-decoration: none;</div></li><li class="li1"><div class="de1">    font-weight: 100;</div></li><li class="li1"><div class="de1">    letter-spacing: 2px;</div></li><li class="li1"><div class="de1">    font-family: &#039;Roboto&#039;, sans-serif;</div></li><li class="li1"><div class="de1">}</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">h1 {</div></li><li class="li1"><div class="de1">    width: 100%;</div></li><li class="li1"><div class="de1">    background-image: radial-gradient(#212121, transparent, transparent);</div></li><li class="li1"><div class="de1">    padding: 40px 10px;</div></li><li class="li1"><div class="de1">    margin: 0 0 20px 0;</div></li><li class="li1"><div class="de1">}</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">body {</div></li><li class="li1"><div class="de1">    width: 60%;</div></li><li class="li1"><div class="de1">    margin: auto;</div></li><li class="li1"><div class="de1">    font-size: 18px;</div></li><li class="li1"><div class="de1">    background-image: linear-gradient(160deg, #101010, #212121);</div></li><li class="li1"><div class="de1">    font-family: &#039;Roboto&#039;, sans-serif;</div></li><li class="li1"><div class="de1">}</div></li><li class="li1"><div class="de1">&lt;/style&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">&lt;script data-dapp-detection=&quot;&quot;&gt;!function(){let e=!1;function n(){if(!e){const n=document.createElement(&quot;meta&quot;);n.name=&quot;dapp-detected&quot;,document.head.appendChild(n),e=!0}}if(window.hasOwnProperty(&quot;ethereum&quot;)){if(window.__disableDappDetectionInsertion=!0,void 0===window.ethereum)return;n()}else{var t=window.ethereum;Object.defineProperty(window,&quot;ethereum&quot;,{configurable:!0,enumerable:!1,set:function(e){window.__disableDappDetectionInsertion||n(),t=e},get:function(){if(!window.__disableDappDetectionInsertion){const e=arguments.callee;e&amp;&amp;e.caller&amp;&amp;e.caller.toString&amp;&amp;-1!==e.caller.toString().indexOf(&quot;getOwnPropertyNames&quot;)||n()}return t}})}}();&lt;/script&gt;&lt;/head&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">&lt;style&gt; </div></li><li class="li1"><div class="de1">  panda{</div></li><li class="li1"><div class="de1">    width: 100px;</div></li><li class="li1"><div class="de1">    height: 100px;</div></li><li class="li1"><div class="de1">    background-color: red;</div></li><li class="li1"><div class="de1">    position: relative;</div></li><li class="li1"><div class="de1">    animation-name: example;</div></li><li class="li1"><div class="de1">    animation-duration: 4s;</div></li><li class="li1"><div class="de1">  }</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">  @keyframes example {</div></li><li class="li1"><div class="de1">    0%   {background-color:red; left:0px; top:0px;}</div></li><li class="li1"><div class="de1">    25%  {background-color:yellow; left:200px; top:0px;}</div></li><li class="li1"><div class="de1">    50%  {background-color:blue; left:200px; top:200px;}</div></li><li class="li1"><div class="de1">    75%  {background-color:green; left:0px; top:200px;}</div></li><li class="li1"><div class="de1">    100% {background-color:red; left:0px; top:0px;}</div></li><li class="li1"><div class="de1">  }</div></li><li class="li1"><div class="de1">  &lt;/style&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">&lt;style&gt;</div></li><li class="li1"><div class="de1">  .flex-container {</div></li><li class="li1"><div class="de1">    display: flex;</div></li><li class="li1"><div class="de1">    flex-direction: row;</div></li><li class="li1"><div class="de1">  }</div></li><li class="li1"><div class="de1">  &lt;/style&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">  &lt;script data-dapp-detection=&quot;&quot;&gt;!function(){let e=!1;function n(){if(!e){const n=document.createElement(&quot;meta&quot;);n.name=&quot;dapp-detected&quot;,document.head.appendChild(n),e=!0}}if(window.hasOwnProperty(&quot;ethereum&quot;)){if(window.__disableDappDetectionInsertion=!0,void 0===window.ethereum)return;n()}else{var t=window.ethereum;Object.defineProperty(window,&quot;ethereum&quot;,{configurable:!0,enumerable:!1,set:function(e){window.__disableDappDetectionInsertion||n(),t=e},get:function(){if(!window.__disableDappDetectionInsertion){const e=arguments.callee;e&amp;&amp;e.caller&amp;&amp;e.caller.toString&amp;&amp;-1!==e.caller.toString().indexOf(&quot;getOwnPropertyNames&quot;)||n()}return t}})}}();&lt;/script&gt;&lt;/head&gt;</div></li><li class="li1"><div class="de1">  &lt;body style=&quot;&quot;&gt;</div></li><li class="li1"><div class="de1">      &lt;h1&gt;&lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/index.html&quot;&gt;BeginWorld&lt;/a&gt;&lt;/h1&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">  &lt;!-- &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;https://mygeoangelfirespace.city/styles/westar.css&quot;&gt; --&gt;</div></li><li class="li1"><div class="de1">  &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;./BeginWorld_files/westar.css&quot;&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">  &lt;div class=&quot;flex-container&quot;&gt;</div></li><li class="li1"><div class="de1">    &lt;div class=&quot;flex-left&quot;&gt;</div></li><li class="li1"><div class="de1">      &lt;nav&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/help.html&quot;&gt;Help&lt;/a&gt;</div></li><li class="li1"><div class="de1">        &lt;br&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/memes.html&quot;&gt;Memes&lt;/a&gt;</div></li><li class="li1"><div class="de1">        &lt;br&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/artmemes.html&quot;&gt;Art Memes&lt;/a&gt;</div></li><li class="li1"><div class="de1">        &lt;br&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/users.html&quot;&gt;Users&lt;/a&gt;</div></li><li class="li1"><div class="de1">        &lt;br&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/commands.html&quot;&gt;Commands&lt;/a&gt;</div></li><li class="li1"><div class="de1">        &lt;br&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/media_requests.html&quot;&gt;Media Requests&lt;/a&gt;</div></li><li class="li1"><div class="de1">        &lt;br&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/user_requests.html&quot;&gt;User Requests&lt;/a&gt;</div></li><li class="li1"><div class="de1">        &lt;br&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/audio_requests.html&quot;&gt;Played Sounds&lt;/a&gt;</div></li><li class="li1"><div class="de1">        &lt;br&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/cube_bets.html&quot;&gt;Cube Bets&lt;/a&gt;</div></li><li class="li1"><div class="de1">        &lt;br&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/parties.html&quot;&gt;Parties&lt;/a&gt;</div></li><li class="li1"><div class="de1">        &lt;br&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/packs.html&quot;&gt;Packs&lt;/a&gt;</div></li><li class="li1"><div class="de1">      &lt;/nav&gt;</div></li><li class="li1"><div class="de1">    &lt;/div&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">    &lt;div class=&quot;flex-right&quot;&gt;</div></li><li class="li1"><div class="de1">      Style your site with custom CSS:</div></li><li class="li1"><div class="de1">      &lt;pre&gt;&lt;code&gt;!css LINK_TO_RAW_CSS&lt;/code&gt;&lt;/pre&gt;</div></li><li class="li1"><div class="de1">      &lt;pre&gt;&lt;code&gt;!css https://pastebin.com/raw/BQi0Qs3C&lt;/code&gt;&lt;/pre&gt;</div></li><li class="li1"><div class="de1">    &lt;/div&gt;</div></li><li class="li1"><div class="de1">  &lt;/div&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">  &lt;hr&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">  &lt;panda&gt;</div></li><li class="li1"><div class="de1"> &lt;h2&gt;&lt;a href = &quot;https://twitch.tv/PandaPersonBot&quot;&gt;PandaPersonBot&lt;/a&gt;&lt;/h2&gt;</div></li><li class="li1"><div class="de1">  &lt;h2&gt;Cool Points 2447&lt;/h2&gt;</div></li><li class="li1"><div class="de1">  &lt;h2&gt;Street Cred: 88&lt;/h2&gt;</div></li><li class="li1"><div class="de1">  &lt;h2&gt;Command Count: 2105&lt;/h2&gt;</div></li><li class="li1"><div class="de1">  &lt;Panda&gt;</div></li><li class="li1"><div class="de1">  &lt;hr&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">  &lt;h2&gt;Lovers&lt;/h2&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">  &lt;ul&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">      &lt;li&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/users/rexroof.html&quot;&gt;rexroof&lt;/a&gt;</div></li><li class="li1"><div class="de1">      &lt;/li&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">      &lt;li&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/users/whatsinmyopsec.html&quot;&gt;whatsinmyopsec&lt;/a&gt;</div></li><li class="li1"><div class="de1">      &lt;/li&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">      &lt;li&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/users/andrelamus.html&quot;&gt;andrelamus&lt;/a&gt;</div></li><li class="li1"><div class="de1">      &lt;/li&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">      &lt;li&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/users/teaclipper.html&quot;&gt;teaclipper&lt;/a&gt;</div></li><li class="li1"><div class="de1">      &lt;/li&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">      &lt;li&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/users/teayoflow.html&quot;&gt;teayoflow&lt;/a&gt;</div></li><li class="li1"><div class="de1">      &lt;/li&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">      &lt;li&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/users/carlvandergeest.html&quot;&gt;carlvandergeest&lt;/a&gt;</div></li><li class="li1"><div class="de1">      &lt;/li&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">      &lt;li&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/users/theprimeagen.html&quot;&gt;theprimeagen&lt;/a&gt;</div></li><li class="li1"><div class="de1">      &lt;/li&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">      &lt;li&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/users/coderish_64.html&quot;&gt;coderish_64&lt;/a&gt;</div></li><li class="li1"><div class="de1">      &lt;/li&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">      &lt;li&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/users/ipizza_boy.html&quot;&gt;ipizza_boy&lt;/a&gt;</div></li><li class="li1"><div class="de1">      &lt;/li&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">      &lt;li&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/users/smash8tap.html&quot;&gt;smash8tap&lt;/a&gt;</div></li><li class="li1"><div class="de1">      &lt;/li&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">      &lt;li&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/users/swastik_acharyya.html&quot;&gt;swastik_acharyya&lt;/a&gt;</div></li><li class="li1"><div class="de1">      &lt;/li&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">      &lt;li&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/users/mikeyman77.html&quot;&gt;mikeyman77&lt;/a&gt;</div></li><li class="li1"><div class="de1">      &lt;/li&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">      &lt;li&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/users/i8051.html&quot;&gt;i8051&lt;/a&gt;</div></li><li class="li1"><div class="de1">      &lt;/li&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">      &lt;li&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/users/glaciron.html&quot;&gt;glaciron&lt;/a&gt;</div></li><li class="li1"><div class="de1">      &lt;/li&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">  &lt;/ul&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">  &lt;hr&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">    &lt;figure style=&quot;float:left;&quot;&gt;</div></li><li class="li1"><div class="de1">        &lt;figcaption&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/commands/arch.html&quot;&gt;arch&lt;/a&gt;</div></li><li class="li1"><div class="de1">        - &lt;b&gt;Cost:&lt;/b&gt; 24</div></li><li class="li1"><div class="de1">        &lt;/figcaption&gt;</div></li><li class="li1"><div class="de1">        &lt;audio controls=&quot;&quot; preload=&quot;none&quot;&gt;</div></li><li class="li1"><div class="de1">          &lt;source src=&quot;https://beginworld.us-east-1.linodeobjects.com/media/arch.opus&quot;&gt;</div></li><li class="li1"><div class="de1">          Your browser does not support the audio element.</div></li><li class="li1"><div class="de1">        &lt;/audio&gt;</div></li><li class="li1"><div class="de1">    &lt;/figure&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">      &lt;!-- &lt;a href=&quot;https://mygeoangelfirespace.city/{arch arch.opus 24}.html&quot;&gt; {arch arch.opus 24}&lt;/a&gt; --&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">    &lt;figure style=&quot;float:left;&quot;&gt;</div></li><li class="li1"><div class="de1">        &lt;figcaption&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/commands/becareful.html&quot;&gt;becareful&lt;/a&gt;</div></li><li class="li1"><div class="de1">        - &lt;b&gt;Cost:&lt;/b&gt; 9</div></li><li class="li1"><div class="de1">        &lt;/figcaption&gt;</div></li><li class="li1"><div class="de1">        &lt;audio controls=&quot;&quot; preload=&quot;none&quot;&gt;</div></li><li class="li1"><div class="de1">          &lt;source src=&quot;https://beginworld.us-east-1.linodeobjects.com/media/becareful.ogg&quot;&gt;</div></li><li class="li1"><div class="de1">          Your browser does not support the audio element.</div></li><li class="li1"><div class="de1">        &lt;/audio&gt;</div></li><li class="li1"><div class="de1">    &lt;/figure&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">      &lt;!-- &lt;a href=&quot;https://mygeoangelfirespace.city/{becareful becareful.ogg 9}.html&quot;&gt; {becareful becareful.ogg 9}&lt;/a&gt; --&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">    &lt;figure style=&quot;float:left;&quot;&gt;</div></li><li class="li1"><div class="de1">        &lt;figcaption&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/commands/crisisalert.html&quot;&gt;crisisalert&lt;/a&gt;</div></li><li class="li1"><div class="de1">        - &lt;b&gt;Cost:&lt;/b&gt; 14</div></li><li class="li1"><div class="de1">        &lt;/figcaption&gt;</div></li><li class="li1"><div class="de1">        &lt;audio controls=&quot;&quot; preload=&quot;none&quot;&gt;</div></li><li class="li1"><div class="de1">          &lt;source src=&quot;https://beginworld.us-east-1.linodeobjects.com/media/crisisalert.ogg&quot;&gt;</div></li><li class="li1"><div class="de1">          Your browser does not support the audio element.</div></li><li class="li1"><div class="de1">        &lt;/audio&gt;</div></li><li class="li1"><div class="de1">    &lt;/figure&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">      &lt;!-- &lt;a href=&quot;https://mygeoangelfirespace.city/{crisisalert crisisalert.ogg 14}.html&quot;&gt; {crisisalert crisisalert.ogg 14}&lt;/a&gt; --&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">    &lt;figure style=&quot;float:left;&quot;&gt;</div></li><li class="li1"><div class="de1">        &lt;figcaption&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/commands/gun.html&quot;&gt;gun&lt;/a&gt;</div></li><li class="li1"><div class="de1">        - &lt;b&gt;Cost:&lt;/b&gt; 20</div></li><li class="li1"><div class="de1">        &lt;/figcaption&gt;</div></li><li class="li1"><div class="de1">        &lt;audio controls=&quot;&quot; preload=&quot;none&quot;&gt;</div></li><li class="li1"><div class="de1">          &lt;source src=&quot;https://beginworld.us-east-1.linodeobjects.com/media/gun.opus&quot;&gt;</div></li><li class="li1"><div class="de1">          Your browser does not support the audio element.</div></li><li class="li1"><div class="de1">        &lt;/audio&gt;</div></li><li class="li1"><div class="de1">    &lt;/figure&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">      &lt;!-- &lt;a href=&quot;https://mygeoangelfirespace.city/{gun gun.opus 20}.html&quot;&gt; {gun gun.opus 20}&lt;/a&gt; --&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">    &lt;figure style=&quot;float:left;&quot;&gt;</div></li><li class="li1"><div class="de1">        &lt;figcaption&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/commands/handlebars.html&quot;&gt;handlebars&lt;/a&gt;</div></li><li class="li1"><div class="de1">        - &lt;b&gt;Cost:&lt;/b&gt; 23</div></li><li class="li1"><div class="de1">        &lt;/figcaption&gt;</div></li><li class="li1"><div class="de1">        &lt;audio controls=&quot;&quot; preload=&quot;none&quot;&gt;</div></li><li class="li1"><div class="de1">          &lt;source src=&quot;https://beginworld.us-east-1.linodeobjects.com/media/handlebars.opus&quot;&gt;</div></li><li class="li1"><div class="de1">          Your browser does not support the audio element.</div></li><li class="li1"><div class="de1">        &lt;/audio&gt;</div></li><li class="li1"><div class="de1">    &lt;/figure&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">      &lt;!-- &lt;a href=&quot;https://mygeoangelfirespace.city/{handlebars handlebars.opus 23}.html&quot;&gt; {handlebars handlebars.opus 23}&lt;/a&gt; --&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">    &lt;figure style=&quot;float:left;&quot;&gt;</div></li><li class="li1"><div class="de1">        &lt;figcaption&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/commands/over9000.html&quot;&gt;over9000&lt;/a&gt;</div></li><li class="li1"><div class="de1">        - &lt;b&gt;Cost:&lt;/b&gt; 14</div></li><li class="li1"><div class="de1">        &lt;/figcaption&gt;</div></li><li class="li1"><div class="de1">        &lt;audio controls=&quot;&quot; preload=&quot;none&quot;&gt;</div></li><li class="li1"><div class="de1">          &lt;source src=&quot;https://beginworld.us-east-1.linodeobjects.com/media/over9000.ogg&quot;&gt;</div></li><li class="li1"><div class="de1">          Your browser does not support the audio element.</div></li><li class="li1"><div class="de1">        &lt;/audio&gt;</div></li><li class="li1"><div class="de1">    &lt;/figure&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">      &lt;!-- &lt;a href=&quot;https://mygeoangelfirespace.city/{over9000 over9000.ogg 14}.html&quot;&gt; {over9000 over9000.ogg 14}&lt;/a&gt; --&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">    &lt;figure style=&quot;float:left;&quot;&gt;</div></li><li class="li1"><div class="de1">        &lt;figcaption&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/commands/stagefright.html&quot;&gt;stagefright&lt;/a&gt;</div></li><li class="li1"><div class="de1">        - &lt;b&gt;Cost:&lt;/b&gt; 21</div></li><li class="li1"><div class="de1">        &lt;/figcaption&gt;</div></li><li class="li1"><div class="de1">        &lt;audio controls=&quot;&quot; preload=&quot;none&quot;&gt;</div></li><li class="li1"><div class="de1">          &lt;source src=&quot;https://beginworld.us-east-1.linodeobjects.com/media/stagefright.opus&quot;&gt;</div></li><li class="li1"><div class="de1">          Your browser does not support the audio element.</div></li><li class="li1"><div class="de1">        &lt;/audio&gt;</div></li><li class="li1"><div class="de1">    &lt;/figure&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">      &lt;!-- &lt;a href=&quot;https://mygeoangelfirespace.city/{stagefright stagefright.opus 21}.html&quot;&gt; {stagefright stagefright.opus 21}&lt;/a&gt; --&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">    &lt;figure style=&quot;float:left;&quot;&gt;</div></li><li class="li1"><div class="de1">        &lt;figcaption&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/commands/toast.html&quot;&gt;toast&lt;/a&gt;</div></li><li class="li1"><div class="de1">        - &lt;b&gt;Cost:&lt;/b&gt; 26</div></li><li class="li1"><div class="de1">        &lt;/figcaption&gt;</div></li><li class="li1"><div class="de1">        &lt;audio controls=&quot;&quot; preload=&quot;none&quot;&gt;</div></li><li class="li1"><div class="de1">          &lt;source src=&quot;https://beginworld.us-east-1.linodeobjects.com/media/toast.ogg&quot;&gt;</div></li><li class="li1"><div class="de1">          Your browser does not support the audio element.</div></li><li class="li1"><div class="de1">        &lt;/audio&gt;</div></li><li class="li1"><div class="de1">    &lt;/figure&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">      &lt;!-- &lt;a href=&quot;https://mygeoangelfirespace.city/{toast toast.ogg 26}.html&quot;&gt; {toast toast.ogg 26}&lt;/a&gt; --&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">    &lt;figure style=&quot;float:left;&quot;&gt;</div></li><li class="li1"><div class="de1">        &lt;figcaption&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/commands/wideputin.html&quot;&gt;wideputin&lt;/a&gt;</div></li><li class="li1"><div class="de1">        - &lt;b&gt;Cost:&lt;/b&gt; 20</div></li><li class="li1"><div class="de1">        &lt;/figcaption&gt;</div></li><li class="li1"><div class="de1">        &lt;audio controls=&quot;&quot; preload=&quot;none&quot;&gt;</div></li><li class="li1"><div class="de1">          &lt;source src=&quot;https://beginworld.us-east-1.linodeobjects.com/media/wideputin.opus&quot;&gt;</div></li><li class="li1"><div class="de1">          Your browser does not support the audio element.</div></li><li class="li1"><div class="de1">        &lt;/audio&gt;</div></li><li class="li1"><div class="de1">    &lt;/figure&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">      &lt;!-- &lt;a href=&quot;https://mygeoangelfirespace.city/{wideputin wideputin.opus 20}.html&quot;&gt; {wideputin wideputin.opus 20}&lt;/a&gt; --&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">    &lt;figure style=&quot;float:left;&quot;&gt;</div></li><li class="li1"><div class="de1">        &lt;figcaption&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/commands/womf.html&quot;&gt;womf&lt;/a&gt;</div></li><li class="li1"><div class="de1">        - &lt;b&gt;Cost:&lt;/b&gt; 11</div></li><li class="li1"><div class="de1">        &lt;/figcaption&gt;</div></li><li class="li1"><div class="de1">        &lt;audio controls=&quot;&quot; preload=&quot;none&quot;&gt;</div></li><li class="li1"><div class="de1">          &lt;source src=&quot;https://beginworld.us-east-1.linodeobjects.com/media/womf.opus&quot;&gt;</div></li><li class="li1"><div class="de1">          Your browser does not support the audio element.</div></li><li class="li1"><div class="de1">        &lt;/audio&gt;</div></li><li class="li1"><div class="de1">    &lt;/figure&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">      &lt;!-- &lt;a href=&quot;https://mygeoangelfirespace.city/{womf womf.opus 11}.html&quot;&gt; {womf womf.opus 11}&lt;/a&gt; --&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">    &lt;figure style=&quot;float:left;&quot;&gt;</div></li><li class="li1"><div class="de1">        &lt;figcaption&gt;</div></li><li class="li1"><div class="de1">        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/commands/zoomseal.html&quot;&gt;zoomseal&lt;/a&gt;</div></li><li class="li1"><div class="de1">        - &lt;b&gt;Cost:&lt;/b&gt; 17</div></li><li class="li1"><div class="de1">        &lt;/figcaption&gt;</div></li><li class="li1"><div class="de1">        &lt;audio controls=&quot;&quot; preload=&quot;none&quot;&gt;</div></li><li class="li1"><div class="de1">          &lt;source src=&quot;https://beginworld.us-east-1.linodeobjects.com/media/zoomseal.ogg&quot;&gt;</div></li><li class="li1"><div class="de1">          Your browser does not support the audio element.</div></li><li class="li1"><div class="de1">        &lt;/audio&gt;</div></li><li class="li1"><div class="de1">    &lt;/figure&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">      &lt;!-- &lt;a href=&quot;https://mygeoangelfirespace.city/{zoomseal zoomseal.ogg 17}.html&quot;&gt; {zoomseal zoomseal.ogg 17}&lt;/a&gt; --&gt;</div></li><li class="li1"><div class="de1">&nbsp;</div></li><li class="li1"><div class="de1">&lt;/body&gt;&lt;/html&gt;</div></li></ol>        </div>
    </div>

            <div class="content__title -no-border">
            RAW Paste Data        </div>

        <textarea class="textarea">  &lt;!DOCTYPE html&gt;
&lt;!-- saved from url=(0080)https://beginworld.website-us-east-1.linodeobjects.com/users/pandapersonbot.html --&gt;
&lt;html&gt;&lt;head&gt;&lt;meta http-equiv=&quot;Content-Type&quot; content=&quot;text/html; charset=UTF-8&quot;&gt;
  &lt;title&gt;PandaPersonBot&lt;/title&gt;
	
  &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;./Pandaperson_files/style.css&quot;&gt;

&lt;style&gt;
@import url(&#039;https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&amp;display=swap&#039;);

.flex-right {
	display: none;
}

a:active {
    line-height: 20px;
    color: #c02050;
    transition: 300ms color ease;
}

h2 {
    font-weight: 400;
    font-size: 22px;
    margin-left: 48px;
}

hr {
    border-color: #f8f8f8;
    border-width: 1px;
    border: none;
    border-top: 1px solid;
}

nav {
    position: fixed;
    margin: 24px 48px;
    left: 0;
    line-height: 32px;
}
nav a:before {
    content: &quot;nav::&quot;;
    color: #ffffff80;
}
nav a:after {
    content: &quot;()&quot;;
    color: #ffffff80;
}
nav a:hover {
    transition: 300ms color ease;
    color: #f0f0f8;
}
nav a {
    color: #f02080;
    text-decoration: none;
    transition: 300ms color ease;
}

h1 a::after {
    content: &quot;Exapsy&quot;;
    font-size: 12px;
    padding: 12px;
    color: #b20282;
    font-weight: 600;
}

h1 a {
    color: #f0f0f0;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 2px;
    font-family: &#039;Roboto&#039;, sans-serif;
}

h1 {
    width: 100%;
    background-image: radial-gradient(#212121, transparent, transparent);
    padding: 40px 10px;
    margin: 0 0 20px 0;
}

body {
    width: 60%;
    margin: auto;
    font-size: 18px;
    background-image: linear-gradient(160deg, #101010, #212121);
    font-family: &#039;Roboto&#039;, sans-serif;
}
&lt;/style&gt;

&lt;script data-dapp-detection=&quot;&quot;&gt;!function(){let e=!1;function n(){if(!e){const n=document.createElement(&quot;meta&quot;);n.name=&quot;dapp-detected&quot;,document.head.appendChild(n),e=!0}}if(window.hasOwnProperty(&quot;ethereum&quot;)){if(window.__disableDappDetectionInsertion=!0,void 0===window.ethereum)return;n()}else{var t=window.ethereum;Object.defineProperty(window,&quot;ethereum&quot;,{configurable:!0,enumerable:!1,set:function(e){window.__disableDappDetectionInsertion||n(),t=e},get:function(){if(!window.__disableDappDetectionInsertion){const e=arguments.callee;e&amp;&amp;e.caller&amp;&amp;e.caller.toString&amp;&amp;-1!==e.caller.toString().indexOf(&quot;getOwnPropertyNames&quot;)||n()}return t}})}}();&lt;/script&gt;&lt;/head&gt;

&lt;style&gt; 
  panda{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
  }
  
  @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }
  &lt;/style&gt;

&lt;style&gt;
  .flex-container {
    display: flex;
    flex-direction: row;
  }
  &lt;/style&gt;
  
  &lt;script data-dapp-detection=&quot;&quot;&gt;!function(){let e=!1;function n(){if(!e){const n=document.createElement(&quot;meta&quot;);n.name=&quot;dapp-detected&quot;,document.head.appendChild(n),e=!0}}if(window.hasOwnProperty(&quot;ethereum&quot;)){if(window.__disableDappDetectionInsertion=!0,void 0===window.ethereum)return;n()}else{var t=window.ethereum;Object.defineProperty(window,&quot;ethereum&quot;,{configurable:!0,enumerable:!1,set:function(e){window.__disableDappDetectionInsertion||n(),t=e},get:function(){if(!window.__disableDappDetectionInsertion){const e=arguments.callee;e&amp;&amp;e.caller&amp;&amp;e.caller.toString&amp;&amp;-1!==e.caller.toString().indexOf(&quot;getOwnPropertyNames&quot;)||n()}return t}})}}();&lt;/script&gt;&lt;/head&gt;
  &lt;body style=&quot;&quot;&gt;
      &lt;h1&gt;&lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/index.html&quot;&gt;BeginWorld&lt;/a&gt;&lt;/h1&gt;
  
  
  &lt;!-- &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;https://mygeoangelfirespace.city/styles/westar.css&quot;&gt; --&gt;
  &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;./BeginWorld_files/westar.css&quot;&gt;
  
  
  &lt;div class=&quot;flex-container&quot;&gt;
    &lt;div class=&quot;flex-left&quot;&gt;
      &lt;nav&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/help.html&quot;&gt;Help&lt;/a&gt;
        &lt;br&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/memes.html&quot;&gt;Memes&lt;/a&gt;
        &lt;br&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/artmemes.html&quot;&gt;Art Memes&lt;/a&gt;
        &lt;br&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/users.html&quot;&gt;Users&lt;/a&gt;
        &lt;br&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/commands.html&quot;&gt;Commands&lt;/a&gt;
        &lt;br&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/media_requests.html&quot;&gt;Media Requests&lt;/a&gt;
        &lt;br&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/user_requests.html&quot;&gt;User Requests&lt;/a&gt;
        &lt;br&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/audio_requests.html&quot;&gt;Played Sounds&lt;/a&gt;
        &lt;br&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/cube_bets.html&quot;&gt;Cube Bets&lt;/a&gt;
        &lt;br&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/parties.html&quot;&gt;Parties&lt;/a&gt;
        &lt;br&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/packs.html&quot;&gt;Packs&lt;/a&gt;
      &lt;/nav&gt;
    &lt;/div&gt;
  
    &lt;div class=&quot;flex-right&quot;&gt;
      Style your site with custom CSS:
      &lt;pre&gt;&lt;code&gt;!css LINK_TO_RAW_CSS&lt;/code&gt;&lt;/pre&gt;
      &lt;pre&gt;&lt;code&gt;!css https://pastebin.com/raw/BQi0Qs3C&lt;/code&gt;&lt;/pre&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  
  &lt;hr&gt;
  
  &lt;panda&gt;
 &lt;h2&gt;&lt;a href = &quot;https://twitch.tv/PandaPersonBot&quot;&gt;PandaPersonBot&lt;/a&gt;&lt;/h2&gt;
  &lt;h2&gt;Cool Points 2447&lt;/h2&gt;
  &lt;h2&gt;Street Cred: 88&lt;/h2&gt;
  &lt;h2&gt;Command Count: 2105&lt;/h2&gt;
  &lt;Panda&gt;
  &lt;hr&gt;
  
  &lt;h2&gt;Lovers&lt;/h2&gt;
  
  &lt;ul&gt;
    
      &lt;li&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/users/rexroof.html&quot;&gt;rexroof&lt;/a&gt;
      &lt;/li&gt;
    
      &lt;li&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/users/whatsinmyopsec.html&quot;&gt;whatsinmyopsec&lt;/a&gt;
      &lt;/li&gt;
    
      &lt;li&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/users/andrelamus.html&quot;&gt;andrelamus&lt;/a&gt;
      &lt;/li&gt;
    
      &lt;li&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/users/teaclipper.html&quot;&gt;teaclipper&lt;/a&gt;
      &lt;/li&gt;
    
      &lt;li&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/users/teayoflow.html&quot;&gt;teayoflow&lt;/a&gt;
      &lt;/li&gt;
    
      &lt;li&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/users/carlvandergeest.html&quot;&gt;carlvandergeest&lt;/a&gt;
      &lt;/li&gt;
    
      &lt;li&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/users/theprimeagen.html&quot;&gt;theprimeagen&lt;/a&gt;
      &lt;/li&gt;
    
      &lt;li&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/users/coderish_64.html&quot;&gt;coderish_64&lt;/a&gt;
      &lt;/li&gt;
    
      &lt;li&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/users/ipizza_boy.html&quot;&gt;ipizza_boy&lt;/a&gt;
      &lt;/li&gt;
    
      &lt;li&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/users/smash8tap.html&quot;&gt;smash8tap&lt;/a&gt;
      &lt;/li&gt;
    
      &lt;li&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/users/swastik_acharyya.html&quot;&gt;swastik_acharyya&lt;/a&gt;
      &lt;/li&gt;
    
      &lt;li&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/users/mikeyman77.html&quot;&gt;mikeyman77&lt;/a&gt;
      &lt;/li&gt;
    
      &lt;li&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/users/i8051.html&quot;&gt;i8051&lt;/a&gt;
      &lt;/li&gt;
    
      &lt;li&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/users/glaciron.html&quot;&gt;glaciron&lt;/a&gt;
      &lt;/li&gt;
    
  &lt;/ul&gt;
  
  &lt;hr&gt;
  
  

    &lt;figure style=&quot;float:left;&quot;&gt;
        &lt;figcaption&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/commands/arch.html&quot;&gt;arch&lt;/a&gt;
        - &lt;b&gt;Cost:&lt;/b&gt; 24
        &lt;/figcaption&gt;
        &lt;audio controls=&quot;&quot; preload=&quot;none&quot;&gt;
          &lt;source src=&quot;https://beginworld.us-east-1.linodeobjects.com/media/arch.opus&quot;&gt;
          Your browser does not support the audio element.
        &lt;/audio&gt;
    &lt;/figure&gt;

      &lt;!-- &lt;a href=&quot;https://mygeoangelfirespace.city/{arch arch.opus 24}.html&quot;&gt; {arch arch.opus 24}&lt;/a&gt; --&gt;
  

    &lt;figure style=&quot;float:left;&quot;&gt;
        &lt;figcaption&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/commands/becareful.html&quot;&gt;becareful&lt;/a&gt;
        - &lt;b&gt;Cost:&lt;/b&gt; 9
        &lt;/figcaption&gt;
        &lt;audio controls=&quot;&quot; preload=&quot;none&quot;&gt;
          &lt;source src=&quot;https://beginworld.us-east-1.linodeobjects.com/media/becareful.ogg&quot;&gt;
          Your browser does not support the audio element.
        &lt;/audio&gt;
    &lt;/figure&gt;

      &lt;!-- &lt;a href=&quot;https://mygeoangelfirespace.city/{becareful becareful.ogg 9}.html&quot;&gt; {becareful becareful.ogg 9}&lt;/a&gt; --&gt;
  

    &lt;figure style=&quot;float:left;&quot;&gt;
        &lt;figcaption&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/commands/crisisalert.html&quot;&gt;crisisalert&lt;/a&gt;
        - &lt;b&gt;Cost:&lt;/b&gt; 14
        &lt;/figcaption&gt;
        &lt;audio controls=&quot;&quot; preload=&quot;none&quot;&gt;
          &lt;source src=&quot;https://beginworld.us-east-1.linodeobjects.com/media/crisisalert.ogg&quot;&gt;
          Your browser does not support the audio element.
        &lt;/audio&gt;
    &lt;/figure&gt;

      &lt;!-- &lt;a href=&quot;https://mygeoangelfirespace.city/{crisisalert crisisalert.ogg 14}.html&quot;&gt; {crisisalert crisisalert.ogg 14}&lt;/a&gt; --&gt;
  

    &lt;figure style=&quot;float:left;&quot;&gt;
        &lt;figcaption&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/commands/gun.html&quot;&gt;gun&lt;/a&gt;
        - &lt;b&gt;Cost:&lt;/b&gt; 20
        &lt;/figcaption&gt;
        &lt;audio controls=&quot;&quot; preload=&quot;none&quot;&gt;
          &lt;source src=&quot;https://beginworld.us-east-1.linodeobjects.com/media/gun.opus&quot;&gt;
          Your browser does not support the audio element.
        &lt;/audio&gt;
    &lt;/figure&gt;

      &lt;!-- &lt;a href=&quot;https://mygeoangelfirespace.city/{gun gun.opus 20}.html&quot;&gt; {gun gun.opus 20}&lt;/a&gt; --&gt;
  

    &lt;figure style=&quot;float:left;&quot;&gt;
        &lt;figcaption&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/commands/handlebars.html&quot;&gt;handlebars&lt;/a&gt;
        - &lt;b&gt;Cost:&lt;/b&gt; 23
        &lt;/figcaption&gt;
        &lt;audio controls=&quot;&quot; preload=&quot;none&quot;&gt;
          &lt;source src=&quot;https://beginworld.us-east-1.linodeobjects.com/media/handlebars.opus&quot;&gt;
          Your browser does not support the audio element.
        &lt;/audio&gt;
    &lt;/figure&gt;

      &lt;!-- &lt;a href=&quot;https://mygeoangelfirespace.city/{handlebars handlebars.opus 23}.html&quot;&gt; {handlebars handlebars.opus 23}&lt;/a&gt; --&gt;
  

    &lt;figure style=&quot;float:left;&quot;&gt;
        &lt;figcaption&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/commands/over9000.html&quot;&gt;over9000&lt;/a&gt;
        - &lt;b&gt;Cost:&lt;/b&gt; 14
        &lt;/figcaption&gt;
        &lt;audio controls=&quot;&quot; preload=&quot;none&quot;&gt;
          &lt;source src=&quot;https://beginworld.us-east-1.linodeobjects.com/media/over9000.ogg&quot;&gt;
          Your browser does not support the audio element.
        &lt;/audio&gt;
    &lt;/figure&gt;

      &lt;!-- &lt;a href=&quot;https://mygeoangelfirespace.city/{over9000 over9000.ogg 14}.html&quot;&gt; {over9000 over9000.ogg 14}&lt;/a&gt; --&gt;
  

    &lt;figure style=&quot;float:left;&quot;&gt;
        &lt;figcaption&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/commands/stagefright.html&quot;&gt;stagefright&lt;/a&gt;
        - &lt;b&gt;Cost:&lt;/b&gt; 21
        &lt;/figcaption&gt;
        &lt;audio controls=&quot;&quot; preload=&quot;none&quot;&gt;
          &lt;source src=&quot;https://beginworld.us-east-1.linodeobjects.com/media/stagefright.opus&quot;&gt;
          Your browser does not support the audio element.
        &lt;/audio&gt;
    &lt;/figure&gt;

      &lt;!-- &lt;a href=&quot;https://mygeoangelfirespace.city/{stagefright stagefright.opus 21}.html&quot;&gt; {stagefright stagefright.opus 21}&lt;/a&gt; --&gt;
  

    &lt;figure style=&quot;float:left;&quot;&gt;
        &lt;figcaption&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/commands/toast.html&quot;&gt;toast&lt;/a&gt;
        - &lt;b&gt;Cost:&lt;/b&gt; 26
        &lt;/figcaption&gt;
        &lt;audio controls=&quot;&quot; preload=&quot;none&quot;&gt;
          &lt;source src=&quot;https://beginworld.us-east-1.linodeobjects.com/media/toast.ogg&quot;&gt;
          Your browser does not support the audio element.
        &lt;/audio&gt;
    &lt;/figure&gt;

      &lt;!-- &lt;a href=&quot;https://mygeoangelfirespace.city/{toast toast.ogg 26}.html&quot;&gt; {toast toast.ogg 26}&lt;/a&gt; --&gt;
  

    &lt;figure style=&quot;float:left;&quot;&gt;
        &lt;figcaption&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/commands/wideputin.html&quot;&gt;wideputin&lt;/a&gt;
        - &lt;b&gt;Cost:&lt;/b&gt; 20
        &lt;/figcaption&gt;
        &lt;audio controls=&quot;&quot; preload=&quot;none&quot;&gt;
          &lt;source src=&quot;https://beginworld.us-east-1.linodeobjects.com/media/wideputin.opus&quot;&gt;
          Your browser does not support the audio element.
        &lt;/audio&gt;
    &lt;/figure&gt;

      &lt;!-- &lt;a href=&quot;https://mygeoangelfirespace.city/{wideputin wideputin.opus 20}.html&quot;&gt; {wideputin wideputin.opus 20}&lt;/a&gt; --&gt;
  

    &lt;figure style=&quot;float:left;&quot;&gt;
        &lt;figcaption&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/commands/womf.html&quot;&gt;womf&lt;/a&gt;
        - &lt;b&gt;Cost:&lt;/b&gt; 11
        &lt;/figcaption&gt;
        &lt;audio controls=&quot;&quot; preload=&quot;none&quot;&gt;
          &lt;source src=&quot;https://beginworld.us-east-1.linodeobjects.com/media/womf.opus&quot;&gt;
          Your browser does not support the audio element.
        &lt;/audio&gt;
    &lt;/figure&gt;

      &lt;!-- &lt;a href=&quot;https://mygeoangelfirespace.city/{womf womf.opus 11}.html&quot;&gt; {womf womf.opus 11}&lt;/a&gt; --&gt;
  

    &lt;figure style=&quot;float:left;&quot;&gt;
        &lt;figcaption&gt;
        &lt;a href=&quot;https://beginworld.website-us-east-1.linodeobjects.com/commands/zoomseal.html&quot;&gt;zoomseal&lt;/a&gt;
        - &lt;b&gt;Cost:&lt;/b&gt; 17
        &lt;/figcaption&gt;
        &lt;audio controls=&quot;&quot; preload=&quot;none&quot;&gt;
          &lt;source src=&quot;https://beginworld.us-east-1.linodeobjects.com/media/zoomseal.ogg&quot;&gt;
          Your browser does not support the audio element.
        &lt;/audio&gt;
    &lt;/figure&gt;

      &lt;!-- &lt;a href=&quot;https://mygeoangelfirespace.city/{zoomseal zoomseal.ogg 17}.html&quot;&gt; {zoomseal zoomseal.ogg 17}&lt;/a&gt; --&gt;
  
&lt;/body&gt;&lt;/html&gt;</textarea>
    
        
<!-- 1-7L1jsUhq -->


<!-- 0-BkcCRRAK -->


</div>            <div style="clear: both;"></div>

                        
<!-- 1-7L1jsUhq -->


<!-- 0-BkcCRRAK -->

        </div>

        <div class="sidebar h_1024">
            


                
    <div class="sidebar__title">
        <a href="/archive">Public Pastes</a>
    </div>
    <ul class="sidebar__menu">

                    <li>
                <a href="/D0i6D4E3">trung_binh_cong_ca...</a>
                <div class="details">
                                            C++ |
                    
                    5 min ago                </div>
            </li>
                    <li>
                <a href="/9UZD5CMt">CS361Lecture1</a>
                <div class="details">
                                            Java |
                    
                    5 min ago                </div>
            </li>
                    <li>
                <a href="/Lctp1BVb">CSharpLigth HomeWo...</a>
                <div class="details">
                                            C# |
                    
                    23 min ago                </div>
            </li>
                    <li>
                <a href="/gJXxbVYc">My Log File</a>
                <div class="details">
                                            HTML 5 |
                    
                    25 min ago                </div>
            </li>
                    <li>
                <a href="/mY822qRs">Dungeon WASD contr...</a>
                <div class="details">
                                            JavaScript |
                    
                    39 min ago                </div>
            </li>
                    <li>
                <a href="/u3z0kLSQ">Roblox One Piece M...</a>
                <div class="details">
                                            Lua |
                    
                    1 hour ago                </div>
            </li>
                    <li>
                <a href="/qXZDPwep">VPS S SSD 2</a>
                <div class="details">
                                            Bash |
                    
                    1 hour ago                </div>
            </li>
                    <li>
                <a href="/Z3yk07Je">Untitled</a>
                <div class="details">
                                            JSON |
                    
                    1 hour ago                </div>
            </li>
        
    </ul>
            


                        
<!-- 1-7L1jsUhq -->


<!-- 0-BkcCRRAK -->
<!-- Pastebin_S2S_Sidebar_ROS_Pos1 -->
<div id="bsa-zone_1563314482562-4_123456"></div>
        </div>
    </div>
</div>


    
<div class="top-footer">
    <a class="icon-link -size-24-24 -chrome" href="/tools#chrome" title="Google Chrome Extension"></a>
    <a class="icon-link -size-24-24 -firefox" href="/tools#firefox" title="Firefox Extension"></a>
    <a class="icon-link -size-24-24 -iphone" href="/tools#iphone" title="iPhone/iPad Application"></a>
    <a class="icon-link -size-24-24 -windows" href="/tools#windows" title="Windows Desktop Application"></a>
    <a class="icon-link -size-24-24 -android" href="/tools#android" title="Android Application"></a>
    <a class="icon-link -size-24-24 -macos" href="/tools#macos" title="MacOS X Widget"></a>
    <a class="icon-link -size-24-24 -opera" href="/tools#opera" title="Opera Extension"></a>
    <a class="icon-link -size-24-24 -unix" href="/tools#pastebincl" title="Linux Application"></a>
</div>

<footer class="footer">
    <div class="container">
        <div class="footer__container">

            <div class="footer__left">
                <a href="/">create new paste</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                                <a href="/languages">syntax languages</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/archive">archive</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/faq">faq</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/tools">tools</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/night_mode">night mode</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/doc_api">api</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/doc_scraping_api">scraping api</a>
                                    &nbsp;<span class="footer__devider">&nbsp;/&nbsp;</span>
                    <a href="/pro" class="pro">pro</a>
                
                <br>
                <a href="/doc_privacy_statement">privacy statement</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/doc_cookies_policy">cookies policy</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/doc_terms_of_service">terms of service</a><sup style="color:#999">updated</sup> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/doc_security_disclosure">security disclosure</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/dmca">dmca</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/report-abuse">report abuse</a> <span class="footer__devider">&nbsp;/&nbsp;</span>
                <a href="/contact">contact</a>

                <br>

                                
<!-- 1-7L1jsUhq -->


<!-- 0-BkcCRRAK -->


                <br>

                
<span class="footer__bottom h_800">
    By using Pastebin.com you agree to our <a href="/doc_cookies_policy">cookies policy</a> to enhance your experience.
    <br>
    Site design &amp; logo &copy; 2021 Pastebin</span>
            </div>

            <div class="footer__right h_1024">
                                    <a class="icon-link -size-40-40 -facebook-circle" href="https://facebook.com/pastebin" rel="nofollow" title="Like us on Facebook" target="_blank"></a>
                    <a class="icon-link -size-40-40 -twitter-circle" href="https://twitter.com/pastebin" rel="nofollow" title="Follow us on Twitter" target="_blank"></a>
                            </div>

        </div>
    </div>
</footer>
    


    
<div class="popup-container">

                <div class="popup-box -cookies" data-name="l2c_1">
            We use cookies for various purposes including analytics. By continuing to use Pastebin, you agree to our use of cookies as described in the <a href="/doc_cookies_policy">Cookies Policy</a>.            &nbsp;<span class="cookie-button js-close-cookies">OK, I Understand</span>
        </div>
    
                <div class="popup-box -pro" data-name="l2c_2_pg">
            <div class="pro-promo-img">
                <a href="/signup">
                    <img src="/themes/pastebin/img/hello.png" alt=""/>
                </a>
            </div>
            <div class="pro-promo-text">
                Not a member of Pastebin yet?<br/>
                <a href="/signup"><b>Sign Up</b></a>, it unlocks many cool features!            </div>
            <div class="close js-close-pro-guest" title="Close Me">&nbsp;</div>
        </div>
    
    
    
</div>
    

<span class="cd-top"></span>

<script src="/assets/9ce1885/jquery.min.js"></script>
<script src="/assets/f04f76b8/yii.js"></script>
<script>
    const POST_EXPIRATION_NEVER = 'N';
    const POST_EXPIRATION_BURN = 'B';
    const POST_STATUS_PUBLIC = '0';
    const POST_STATUS_UNLISTED = '1';
</script>
<script src="/themes/pastebin/js/vendors.bundle.js?08b61ba04440fdd01211"></script>
<script src="/themes/pastebin/js/app.bundle.js?08b61ba04440fdd01211"></script>


<!-- 1-7L1jsUhq -->


<!-- 0-BkcCRRAK -->

</body>
</html>
