html {
  /* Space for nav */
  padding-bottom: 4.2rem;
}

body {
  /* background-color: none..class{ */
  color: white;
  width: 90vw;
  margin: 0px auto;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(19,19,19,1);
  font-size: 2em;
  font-family: "Helvetica";
  overflow-y: hide;
}
/* get rid of link underline globally */
a {
  text-decoration: none;
}

hr {
  color: orange;
}
hr:nth-of-type(2) {
}
/* Page title (BeginWorld) */
h1 {
  text-align: center;
  font-size: 5rem;
}
/* Link specific style */
h1 > a {
  color: green;
  /* glow text animation */
  animation-name: glowText;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
}
h1 > a:hover {
  text-decoration: underline;
}
/* The divLess H2s! */
h2:nth-of-type(1) {
  /* glow text animation */
  animation-name: glowText;
  animation-duration: 1.2s;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
}
h2:nth-of-type(2) {
  /* glow text animation */
  animation-name: glowText;
  animation-duration: 1.2s;
  animation-delay: 0.6s;
  animation-iteration-count: infinite;
}
h2:nth-of-type(3) {
  /* glow text animation */
  animation-name: glowText;
  animation-duration: 1.2s;
  animation-delay: 0.9s;
  animation-iteration-count: infinite;
}
h2:nth-of-type(4) {
  /* glow text animation */
  animation-name: glowText;
  animation-duration: 1.2s;
  animation-delay: 1.2s;
  animation-iteration-count: infinite;
}
/* Lovers <3 */
h2:nth-of-type(5) {
  font-size: 5rem;
  text-align: center;
  /* glow text animation */
  animation-name: glowText;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
  animation-iteration-count: infinite;
}
/* -------------------------- */
/* bottom bar & nav container */
.flex-container {
  overflow: auto;
  display: flex;
  bottom: 0;
  position: fixed;
  justify-content: space-between;
  background: rgba(19,19,19,1);
  float: right;
  text-align: center;
  height: 4.2rem;
  width: 90vw;
  z-index: 69;
  border-left: 1px solid rgba(192,192,192,0.4);
  border-top: 1px solid rgba(192,192,192,0.5);
  border-right: 1px solid rgba(192,192,192,0.4);
}
/* hide CSS upload notification*/
.flex-right {
  display: none;
}
/* links container*/
.flex-left {
  width: 100%;
}
/* nav link container */
.flex-left > nav {
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
}
/* bottom nav links*/
.flex-left > nav > a {
  font-size: 1.5rem;
  border-top: 3px solid rgba(19,19,19,0);
  padding: 10px 0px 0px 0px;
  line-height: 2.1rem;
  transition: 0.15s;
  /* glow text animation */
  animation-name: glowText;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
/* bottom nav links:hover*/
.flex-left > nav > a:hover {
  border-top: 3px solid rgba(252,252,252,0.8);
  padding: 0px 0px 10px 0px;
  /* glow text animation */
  animation-name: glowText2;
  animation-duration: 0.25s;
  animation-iteration-count: infinite;
}
/* -------------------------- */

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}
/* Lovers Links <3*/
ul > li > a {
  font-size: 4rem;
  border-bottom: 2px solid rgba(252,252,252,0);
  transition: 1s;
  /* glow text animation */
  animation-name: glowText2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
/* Lovers Links:hover <3*/
ul > li > a:hover {
  border-bottom: 2px solid rgba(252,252,252,0.2);
  animation-duration: 1s;
}
/* -------------------------- */
/* Sounds name */
figcaption > a  {
  /* glow text animation */
  animation-name: glowText3;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}
/* cost label */
figcaption > b  {
  color: grey;
}
/* cost amount */
figure {
  animation-name: glowText3Invert;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}
/* audio player */
audio {
    filter: hue-rotate(20deg) saturate(100%);
}
/* Animations */
@keyframes glowText {
  0% {color: rgba(253,252,250,1);}
  50% {color: rgba(253,252,250,0.2);}
  100% {color: rgba(253,252,250,1);}
}

@keyframes glowText2 {
  0% {color: rgba(240,67,231,0.6);}
  50% {color: rgba(240,67,231,0.2);}
  100% {color: rgba(240,67,231,0.4);}
}

@keyframes glowText2Invert {
  0% {color: rgba(240,67,231,1);}
  50% {color: rgba(240,67,231,0.4);}
  100% {color: rgba(240,67,231,1);}
}

@keyframes glowText3 {
  0% {color: rgba(252,252,252,0.5);}
  50% {color: rgba(133,187,101,1);}
  100% {color: rgba(252,252,252,0.5);}
}

@keyframes glowText3Invert {
  0% {color: rgba(133,187,101,1);}
  50% {color: rgba(252,252,252,0.5);}
  100% {color: rgba(133,187,101,1);}
}